<footer>
  <div class="footer_content allg_content">
    <div class="footer_left">
      <a href="index.html"
        ><img src="img/logo_white.webp" alt="Kochwelt Logo"
      /></a>
    </div>
    <div class="footer_right">
      <div class="footer_logos">
        <a href="https://facebook.com" target="_blank"
          ><img src="img/facebook_white.webp" alt="Facebook Logo"
        /></a>
        <a href="https://instagram.com" target="_blank"
          ><img src="img/instagram_white.webp" alt="Instagram Logo"
        /></a>
        <a href="https://twitter.com" target="_blank"
          ><img src="img/twitter_white.webp" alt="Twitter Logo"
        /></a>
      </div>
      <div class="footer_cutline"></div>
      <nav>
        <!-- Logos stammen u. A.von <a href="https://icons8.com">https://icons8.com</a> -->
        <a href="kontakt.html" target="_blank">Kontakt</a>
        <a href="impressum.html" target="_blank">Impressum</a>
        <a href="datenschutz.html" target="_blank">Datenschutz</a>
      </nav>
    </div>
  </div>
  <p class="copyright allg_content">
    Copyright © 2023 Developer Akademie - Kochwelt Gruppe 564
  </p>
</footer>
