<header>
    <div class="header_content allg_content">
        <div class="header_logos">
            <a class="header_logo" href="index.html"><img src="img/logo.webp" alt="Kochwelt Logo"></a>

            <div class="container">
                <a href="#menu"><img src="img/menu.svg" alt="Mobile Menu Button"></a>
                <div class="popover" id="menu">
                    <div class='content'>
                        <a href="#" class="close"></a>
                        <div class='nav'>
                            <ul class='nav_list'>

                                <div class='nav_list_item'>
                                    <li><a href="index.html">Startseite</a></li>
                                </div>
                                <div class='nav_list_item'>
                                    <li><a href="kochtipps.html">Kochtipps</a></li>
                                </div>
                                <div class='nav_list_item'>
                                    <li><a href="recipe_klopse.html">Rezept des Tages</a></li>
                                </div>
                                <div class='nav_list_item'>
                                    <li><a href="kontakt.html">Kontakt</a></li>
                                </div>
                                <div class='nav_list_item'>
                                    <li><a href="#footer_scroll">Informationen</a></li>
                                </div>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <nav>
            <li class="dropdown">
                <a class="normal-nav-link animated_header_nav">Start</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="normal-nav-link animated_header_nav" href="./index.html">Startseite</a>
                    </li>
                    <li>
                        <a class="normal-nav-link animated_header_nav" href="./kochtipps.html">Kochtipps</a>
                    </li>

                </ul>
            </li>
            <div class="header_cutline"></div>
            <a href="recipe_klopse.html" class="animated_header_nav">
                Rezept des Tages
            </a>
            <a href="kontakt.html" target="_blank" class="animated_header_nav">
                Kontakt
            </a>
            <a href="#footer_scroll" class="animated_header_nav">Informationen</a>
        </nav>
    </div>
</header>